.non{
    margin-left: 550px;
    margin-top: -490px;
}
.bir{
    margin-left: 550px;
}
.ice{
    margin-left: 1150px;
    margin-top: -560px;
}
.water{
    margin-left: 1150px;
}
.item{
    margin-left: 100px;
}
.soup{
    margin-left: 100px;
}
.bom{
    margin-left: 100px;
}